DB_HOST=postgres
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
PGADMIN_EMAIL=admin@mail.com
PGADMIN_PASSWORD=admin
PARQUET_OUTPUT_DIR=data/gold
DEFAULT_START_DATE=2026-01-01
AIRBYTE_WORKSPACE_ID=XXXX-XXXX-XXXX-XXXX